:root {
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'SF Distant Galaxy';
      font-weight: lighter;
      font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 20%;
  margin: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-box {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

input[type="search"] {
  border: none;
  border-radius: 5px 5px 5px 5px;
  background: #E9E9E9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.35em 0.75em;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
  flex: 2 0 250px;
}

input[type="search"]:focus {
  background: lightyellow;
  color: black;
  letter-spacing: .1em;
  transition: background 400ms ease-in-out;
  outline: none;
}

button {
  flex: 1 0 90px;
  max-height: 3em;
  font-size: 1.1em;
  letter-spacing: .2em;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  background: silver;
  color: white;
  border: none;
  padding: 0.35em 0.75em;
  cursor: pointer;
}


button:hover {
  background: skyblue;
}

.title {
  text-align: center;
}

.characterDataTable {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

/* show definition of BBY on hover */
.character-birth-year:hover {

}